* {
    margin: 0px;
}

nav {
    background-color: plum;
    color: black;
    padding: 30px;
    width: 95.5%;

}

.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 70%;
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    z-index: 2;


}

.popupboxclass {
    background-color: plum;
    top: 15%;
    position: absolute;
    left: 27%;
    padding: 50px;
    border-radius: 50px;
    display: none;
    width: 500px;
    color: black;
    z-index: 2;
    padding-right: 80px;

}

.popupboxclass h1 {
    margin: 20px;
}

#startid {
    border-radius: 100px;
    background-color: plum;
    width: fit-content;
    height: fit-content;
    padding: 30px;
    margin: 20px;
    position: fixed;
    left: 85%;
    top: 65%;
    z-index: 1;


}

#startid:hover {
    background-color: black;
}

#booktitleid {
    background-color: plum;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    color: black;
    width: 100%;
    margin: 20px;


}

#booktitleid::placeholder {
    color: black;
}

#bookauthorid::placeholder {
    color: black;
}

#shortdescriptionid::placeholder {
    color: black;
}

#booktitleid:focus {
    outline: none;
}

#bookauthorid:focus {
    outline: none;
}

#shortdescriptionid:focus {
    outline: none;
}

#bookauthorid {
    background-color: plum;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: black;
    border-style: solid;
    color: black;
    width: 100%;
    margin: 20px;



}

#shortdescriptionid {
    background-color: plum;
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    border-color: black;
    border-style: solid;
    color: black;
    width: 100%;
    margin: 20px;
    padding-bottom: 20px;


}

#addbuttonid {
    background-color: plum;
    color: black;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    margin-left: 20px;



}

#addbuttonid:hover {
    background-color: black;
    color: plum;

}

#closebuttonid {
    background-color: plum;
    color: black;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border-width: 2px;
    border-color: black;
    margin-left: 20px;

}

#closebuttonid:hover {
    background-color: black;
    color: plum;

}

#addbooktitleid {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#bookskyid {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.newdivclass {
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    vertical-align: top;
    flex-basis: 20%;




}

.newdivh1class {
    color: plum;
    flex-wrap: wrap;



}

.newdivh3class {
    color: white;
    flex-wrap: wrap;


}

.newdivpclass {
    color: white;
    flex-wrap: wrap;



}

.newdivbuttonclass {
    background-color: plum;
    padding: 10px;
    border-radius: 20px;
    color: black;
    width: 200px;



}

.newdivbuttonclass:hover {
    background-color: black;
    color: plum;
    border-width: 2px;
    border-color: plum;
    border-style: solid;

}

#sectionid {
    display: flex;
    flex-wrap: wrap;
}